force-app/main/default/flows/Genability_Monthly_Limit_Generate_Provider_Account_Ids.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>GenabilityProviderAccountId_Fields_Assignment</name>
        <label>GenabilityProviderAccountId Fields Assignment</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>GenabilityProviderAccountId.Genability_Monthly_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Genability_Monthly_Limit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Standard_Storage_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GenabilityProviderAccountId_Fields_Assignment2</name>
        <label>GenabilityProviderAccountId Fields Assignment</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>GenabilityProviderAccountId.Storage_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GenabilityProviderAccountId_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GenabilityProviderAccountId_Fields_Assignment3</name>
        <label>GenabilityProviderAccountId Fields Assignment</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>GenabilityProviderAccountId.Storage_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GenabilityProviderAccountId_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GenabilityProviderAccountId_To_Collection</name>
        <label>GenabilityProviderAccountId To Collection</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>GenabilityProviderAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GenabilityProviderAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Test</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Standard_Storage_Account</name>
        <label>Is Standard Storage Account?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>GenabilityProviderAccountId_Fields_Assignment3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Genability_Monthly_Limit.Standard_Storage_Accounts_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GenabilityProviderAccountId_Fields_Assignment2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test</name>
        <label>LoopCounter Decision</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Insert_Genability_Provider_Account_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_To_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Genability_Monthly_Limit.Standard_Solar_Accounts_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GenabilityProviderAccountId_Fields_Assignment</targetReference>
            </connector>
            <label>Need To Run</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generate Provider Account Ids {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Genability Monthly Limit: Generate Provider Account Ids</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Genability_Provider_Account_Ids</name>
        <label>Insert Genability Provider Account Ids</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>GenabilityProviderAccountIds</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Genability_Monthly_Limit</name>
        <label>Get Genability Monthly Limit</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Genability_Monthly_Limit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Information_Screen</name>
        <label>Information Screen</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Genability_Monthly_Limit</targetReference>
        </connector>
        <fields>
            <name>Information_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Are you sure to Genarate Provider Account Ids?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Provider Account Ids created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Information_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GenabilityProviderAccountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Genability_Provider_Account_Id__c</objectType>
    </variables>
    <variables>
        <name>GenabilityProviderAccountIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Genability_Provider_Account_Id__c</objectType>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
