force-app/main/default/flows/Solar_Estimate_Address_Initiate_Solar_Estimate_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Solar_Estimate_Address_Fields_Assignment</name>
        <label>Solar Estimate Address Fields Assignment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SolarEstimateAddress.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Solar_Estimate_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SolarEstimateAddress.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Address_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SolarEstimateAddress.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SolarEstimateAddress.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SolarEstimateAddress.LSE_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Lse_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SolarEstimateAddress.Average_Monthly_Bill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Average_Monthly_Bill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Solar_Estimate_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SolarEstimateAddressId_Assignment</name>
        <label>SolarEstimateAddressId Assignment</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SolarEstimateAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SolarEstimateAddress.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Solar_Estimate_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SolarEstimateAddressId_Assignment1</name>
        <label>SolarEstimateAddressId Assignment</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SolarEstimateAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Solar_Estimate_Address</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_SObject_Type</name>
        <label>Check SObject Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SolarEstimateAddressId_Assignment1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Solar_Estimate_Process_Is_Running</name>
        <label>Solar Estimate Process Is Running?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Update_Solar_Estimate_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Solar_Estimate_Address.Initiate_Solar_Estimate_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead: Initiate Solar Estimate Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solar Estimate Address: Initiate Solar Estimate Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Solar_Estimate_Address</name>
        <label>Create Solar Estimate Address</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>SolarEstimateAddressId_Assignment</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>SolarEstimateAddress</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Solar_Estimate_Address_Fields_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Solar_Estimate_Address</name>
        <label>Get Solar Estimate Address</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Solar_Estimate_Process_Is_Running</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SolarEstimateAddressId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Solar_Estimate_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Solar_Estimate_Address</name>
        <label>Update Solar Estimate Address</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SolarEstimateAddressId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initiate_Solar_Estimate_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Solar_Estimate_Address__c</object>
    </recordUpdates>
    <screens>
        <name>Information_Screen</name>
        <label>Information Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_SObject_Type</targetReference>
        </connector>
        <fields>
            <name>Information_Message</name>
            <fieldText>&lt;p&gt;Are you sure to Initiate Solar Address Process?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning Screen</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Solar Address Process is running right now, if any after some time please Initiate Solar Address Process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Information_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SolarEstimateAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Solar_Estimate_Address__c</objectType>
    </variables>
    <variables>
        <name>SolarEstimateAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
